@import "../settings/all";

.btn {
  padding: 16px 24px;
  min-width: 100px;
  margin: 1px;
  border: none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-primary {
  border: none;
  border-radius: 14px;
  background-color: $c-button-primary-background;

  img {
    height: 18px;
    margin-left: 16px;
  }

  @include font-button-primary();

  &:hover {
    background-color: darken($c-button-primary-background, 3%);
  }

  &:active {
    background-color: darken($c-button-primary-background, 8%);
  }
}

.btn-secondary {
  border: none;
  border-radius: 14px;
  background-color: $c-button-secondary-background;

  @include font-button-secondary();
}

.btn-controls {
  padding: 10px;
  margin: 8px;
  min-width: 0px;
  border: none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  background-color: $c-button-controls-background;
  text-align: center;

  &:hover {
    background-color: darken($c-button-controls-background, 3%);
  }

  &:active {
    background-color: darken($c-button-controls-background, 8%);
  }

  @include font-button-primary();
}
