
.checkout {
  margin-right: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.checkout__link {
  padding: 20px 0;
  padding-left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout__icon {
  height: 35px;
  width: 35px;
  position: relative;
  right: calc( -50vw + 75px - 8.75px);
  z-index: $layer-card;
  
}
