@import "../settings/all";

.small-card {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.small-card__image {
  height: 80px;
  width: 80px;
  margin-right: 20px;
}

.small-card__title {
  margin-bottom: 5px;
  @include font-small-card-title();
}

.small-card__price {
  @include font-small-card-price();
}
