* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  height: 100%;
}

.content {
  margin: 70px auto 0;
  max-width: 500px;
}

.content-wide {
  margin: 70px auto 0;
  max-width: 800px;
}

body {
  background-color: $c-background;
}
