$font-family: roboto, sans-serif;

@mixin font-button-primary {
}

@mixin font-section-title {
  font-family: $font-family;
  font-size: 20px;
  font-weight: 600;
  color: $c-text-tertiary;
}

// big card
@mixin font-big-card-price {
}

@mixin font-big-card-title {
}

@mixin font-text {
  font-family: $font-family;
  font-size: 15px;
  color: $c-text-primary;
  text-decoration: none;
}

@mixin font-button-secondary {
}

// small card
@mixin font-small-card-price {
}

@mixin font-small-card-title {
}

// transparent card
@mixin font-price {
}

@mixin font-title {
}

// links
@mixin font-link {
  font-family: $font-family;
  font-size: 15px;
  color: $c-link;
  text-decoration: none;
}

@mixin font-link-active {
  font-family: $font-family;
  font-size: 15px;
  color: $c-link-active;
  text-decoration: none;
}
