$c-black: #252525;
$c-white: #fff;

$c-grayest: #3b4345;
$c-grayer: #485454;
$c-gray: #556161;
$c-gray-light: #8b9595;
$c-gray-lighter: #EdEDEE;
$c-gray-lightest: #eee;

$c-gray-blue: #EDEFF1;

$c-yellow: #F3BA30;
$c-pink: #E2A1A3;
$c-pink: #E2A1A3;
