$c-black: #252525;
$c-white: #fff;

$c-grayer: #485454;
$c-gray: #556161;
$c-gray-light: #869595;
$c-gray-lighter: #E5E5E5;
$c-gray-lightest: #eee;

$c-gray-blue: #EDEFF1;

$c-yellow: #F3BA30;
$c-pink: #E2A1A3;
