@import "palette";

// Text
$c-text-primary: $c-black;
$c-text-secondary: $c-grayer;
$c-text-tertiary: $c-white;

$c-link: $c-gray-light;
$c-link-active: $c-white;
$c-link-hover: $c-white;

// Buttons
$c-button-primary: $c-grayer;
$c-button-secondary: $c-gray-blue;

// Lines
$c-separating-line: $c-gray-lightest;

// Background
$c-background: $c-gray;
$c-background-navbar: $c-grayer;
$c-background-card: $c-white;

// Carousel
$c-carousel-dot-outline: $c-gray-light;
$c-carousel-picker-background: $c-gray-lighter;

// Like
$c-like-button: $c-pink;

// Loading icon
$c-loading-icon: $c-gray-lighter;
