@import "palette";

// Text
$c-text-primary: $c-black;
$c-text-secondary: $c-grayer;
$c-text-tertiary: $c-white;

$c-text-description: $c-gray-light;

$c-link: $c-gray-light;
$c-link-active: $c-white;
$c-link-hover: $c-white;

// Buttons
$c-button-primary: $c-grayer;
$c-button-primary-background: $c-gray-lighter;
$c-button-secondary: $c-gray-blue;
$c-button-secondary-background: $c-transparent;
$c-button-controls-background: $c-gray-lightest;

$c-button-action: $c-grayer;
$c-button-action-background: $c-blue;

// Inputs
$c-text-input: $c-gray-lightest;
$c-text-input-border: $c-blue;

// Lines
$c-separating-line: $c-gray-lighter;

// Background
$c-background: $c-gray;
$c-background-navbar: $c-grayer;
$c-background-card: $c-white;

// Carousel
$c-carousel-dot-outline: $c-gray-light;
$c-carousel-picker-background: $c-gray-lighter;

// Like
$c-like-button: $c-pink;

// Loading icon
$c-loading-icon: $c-gray-lighter;
