@import "palette";

// Text
$c-text-primary: $c-black;
$c-text-secondary: $c-gray;

// Buttons
$c-button-primary: $c-gray;
$c-button-secondary: $c-gray-blue;

// Lines
$c-separating-line: $c-gray-lightest;

// Background
$c-background: $c-white;
$c-background-navbar: $c-gray-lighter;
$c-background-card: $c-white;

// Like
$c-like-button: $c-pink;
